/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #000000;
  clear: both;

}

img {
  max-width: 100%;
  height: auto;
}

/** ------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Header Section */
.header {
  background-color: #011827;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 110px;
}

.header_top-area {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.header_logo-img {
  max-height: 80px;
  flex-shrink: 0;
}

.header_top-area_left-title {
  font-size: 1.2rem;
  color: #fff;
  margin-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 60px);
}

/** ------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Button Styles */
.main_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 220px;
  height: 50px;
}

.online {
  background-color: #e3170a;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 2px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-left: -115px;
}

.onsite {
  background-color: #8acfe5;
  color: #000;
  padding: 0.8rem 1.5rem;
  border-radius: 2px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-left: 115px;
}

/** ------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Footer Section */
.footer {
  background-color: #011827;
  color: white;
  padding: 40px 20px;
  max-height: 500px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.footer_about,
.footer_site-map,
.footer_social {
  width: 30%;
}

.footer_title {
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 15px;
}

.footer_text {
  font-size: 1rem;
  margin-bottom: 40px;
}

.footer_list_contact,
.footer_list_play,
.footer_list_social {
  list-style: none;
  padding: 0;
  font-size: 1rem;
  font-weight: lighter;
  margin-bottom: 20px;
}

.footer_item {
  font-size: 1rem;
  margin-bottom: 5px;
}

.footer_item_follow {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
  min-width: 100px;
}

/** ------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Desktop */

/*popup menu*/
@media (min-width: 768px) {
  .popup-container {
    display: none;
  }

  /*hamburger menu*/
  #navigation {
    display: none;
  }

  /*main img*/
  .main-image-img {
    width: 100%;
    height: auto;
    max-height: 450px;
    min-height: 300px;
    object-fit: cover;
  }

  /*challenge*/
  .challenges {
    clear: both;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
    align-content: center;
    justify-content: center;
  }

  .challenge-card {
    box-shadow: 0 6px 8px rgba(2, 1, 26, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    max-width: 300px;
    min-height: 400px;
  }

  .challenge-image {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    max-width: 100%;
    margin-bottom: 0.5rem;
  }

  .popular {
    clear: both;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.8rem;
  }

  .secondary-button {
    background-color: #e3170a;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 2px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-left: 140px;
    margin-top: 50px;
  }

  .after_btns-item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 2px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    gap: 1rem;
    text-decoration: none;
  }

  .after_btn_onsite {
    background-color: #8acfe5;
    color: #000;
    padding: 0.8rem 1.5rem;
    border-radius: 2px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    width: 230px;
    height: 50px;
    text-align: center;
    margin-left: 240px;
    align-items: center;

  }

  .after_btn_online {
    background-color: #e3170a;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 2px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    width: 220px;
    height: 50px;
    text-align: center;
    margin-right: 240px;
    align-items: center;

  }



  /*reviews*/
  .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin: auto;
  }

  .review {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 1rem;
    border-radius: 8px;
    width: calc(25% - 2rem);
    max-width: 500px;
    min-width: 300px;
    display: flex;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 2%;
    justify-content: flex-start;
    box-sizing: border-box;

  }

  .review_text h5 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .review_text p {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    width: 250px;
  }

  .review-avatar {
    margin-top: -60px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 1rem;

  }

  /*story*/
  .story {
    margin-top: 150px;
    background-color: #011827;
    color: #ffffff;
    min-height: 600px;
  }

  .story_container {
    background-color: #011827;
    text-align: center;
    padding: 1rem;
    min-height: 460px;
  }

  .story_intro {
    color: #fff;
    font-size: 1.9rem;
    margin-top: 100px;
    margin-bottom: 40px;
    font-weight: 100;
    margin-left: 33%;
    margin-right: 33%;
  }

  .story_btn {
    background-color: #011827;
    color: #8acfe5;
    padding: 0.8rem 1.5rem;
    outline: 2px solid #8acfe5;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
    width: 400px;
  }

  .story_description {
    color: #ffffff;
    font-size: 1.5rem;
    margin-left: 33%;
    margin-right: 33%;
  }

  .story_intro h2 {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  /*info section*/
  /*info section*/
  .info-section_1,
  .info-section_2 {
    display: flex;
    align-items: center;
    margin-bottom: -4px;
  }

  .info-section_1_img,
  .info-section_2_img {
    flex: 1;
    max-width: 50%;
    margin: 0;
  }

  .info-section_1_text,
  .info-section_2_text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info-section_1_text h2,
  .info-section_2_text h2,
  .info-section_1_text p,
  .info-section_2_text p {
    width: 30%px;
    margin-left: 16%;
    margin-right: 16%;
    margin-bottom: 30px;
    margin-top: 25px;
    font-size: 2.5rem
  }

  .book_on_site_today_button {
    background-color: #e3170a;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    margin-left: 16%;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 1.4rem;
    width: 250px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 60px;
  }

  .see_all_the_challenges_button {
    background-color: #e3170a;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    margin-left: 16%;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 1.4rem;
    width: 250px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 60px;
  }

  /*footer*/
  .footer {
    background-color: #011827;
    color: #fff;
    padding: 1rem;
    min-height: 460px;
    flex-direction: column;
  }

  .footer_about_item1 {
    float: left;
    width: 19%;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 10%;
  }

  .footer_site-map_item2 {
    margin-left: 10%;
    margin-top: 100px;
    margin-right: 10%;
  }

  .footer_list_contact {
    list-style: none;
    padding: 0;
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 20px;
  }

  .footer_item_site_map {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .footer_list_play {
    list-style: none;
    padding: 0;
    font-size: 1rem;
    font-weight: lighter;
    margin-bottom: 40px;
  }

  .footer_social {
    margin-left: 10%;
    margin-top: 100px;
    margin-right: 10%px;
  }

  .footer_content {
    flex-direction: row;
    align-items: left;
  }


  .footer_item_follow {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
    min-width: 100px;
  }

  .footer_list_social {
    list-style: none;
    padding: 0;
    font-size: 1rem;
    font-weight: lighter;
  }

}

/** ------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Mobile */

/*header*/
@media (max-width: 768px) {
  .header {
    min-height: 110px;
  }

  .header_top-area_left-title {
    text-align: center;
    font-size: 0.6rem;
    margin-bottom: 2px;
    word-spacing: 100%;
    display: table-caption;
    width: min-content;
    font-weight: lighter;
    margin-left: 8px;
  }

  .header_logo-img {
    min-width: auto;
    min-height: 75px;
  }

  #navigation {
    background: transparent;
    border: none;
    padding: 20px;
    cursor: pointer;
    display: flex;
    height: 100px;
    width: 100px;
  }

  /* Popup Section */
  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
    padding: 5%;
  }

  .popup-menu {
    background-color: #011827;
    color: #fff;
    z-index: 1001;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .popup-menu ul {
    list-style: none;
    padding: 0;
    margin-bottom: 50px;
    text-align: center;
  }

  .popup-menu ul li {
    color: #ffffff;
    font-size: 1.6rem;
    margin: 4rem 0;
    text-decoration: none;
  
  }

  .popup-menu ul li a {
    color: #ffffff;
    text-decoration: none;
  }

  .close-popup {
    position: absolute;
    top: 3rem;
    right: 3rem;
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    z-index: 1002;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  /*reviews*/
  .review {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 1rem;
    border-radius: 8px;
    width: 360px;
    display: flex;
  }

  .review_text h5 {
    font-size: 1rem;
    font-weight: 500;
  }

  .review_text p {
    margin-top: 10px;
    font-size: 0.7rem;
    font-weight: 500;
  }

  .review-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
  }

  .review {
    display: none;
  }

  .review:first-child {
    display: flex;
  }

  .reviews {
    margin-top: 150px;
    margin-bottom: 60px;
  }


  /*challenges*/

  .popular {
    clear: both;
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.6rem;
  }

  /*challenge*/
  .challenges {
    clear: both;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
    align-content: center;
    justify-content: center;
  }

  .challenge-card {
    box-shadow: 0 6px 8px rgba(2, 1, 26, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    width: 90%px;
    min-height: 400px;
  }

  .challenge-image {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    max-width: 100%;
    margin-bottom: 0.5rem;
  }


  /*story*/
  .story {
    margin-top: 150px;
  }

  .story_container {
    background-color: #011827;
    text-align: center;
    padding: 1rem;
  }

  .story_intro {
    color: #fff;
    font-size: 1.55rem;
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: 100;
  }

  .story_description {
    color: #ffffff;
    font-size: 1.2rem;
  }

  /*buttons*/
  .onsite {
    background-color: #8acfe5;
    color: #000000;
    padding: 0.8rem 1.5rem;
    border-radius: 2px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 225px;
    margin-top: 40px;
    height: 45px;

  }

  .online {
    background: transparent;
    color: #9178fd;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 90px;
    font-size: 0.75rem;
    margin-left: 0px;
    text-decoration: underline;
  }



  .after_btn_onsite {
    background-color: #8acfe5;
    color: #000000;
    padding: 0.8rem 1.5rem;
    border-radius: 2px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 225px;
    margin-top: 40px;
    height: 45px;

  }

  .after_btn_online {
    background: transparent;
    color: #9178fd;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 0.75rem;
    text-decoration: underline;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .see_all_the_challenges_button {
    background-color: #e3170a;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 0.95rem;
    width: 100px;
    text-align: center;
    justify-content: center;
  }


  .book_on_site_today_button {
    background-color: #e3170a;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 0.5rem;
    width: 100px;
    text-align: center;
    justify-content: center;
  }

  .secondary-button {
    background-color: #e3170a;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 2px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 50px;
    max-width: 150px;
    box-sizing: border-box;
    margin-right: 50px;
  }

  /*info section*/
  .info-section_1_text,
  .info-section_2_text {
    margin: 20px;
  }

  .info-section_1_text h2,
  .info-section_2_text h2 {
    margin-bottom: 10px;
  }

  /*footer*/
  .footer_content {
    flex-direction: column;
    text-align: center;
  }
}